@import "../../assets/scss/utils.scss";

.seatsHalfBox {
  width: 50%;
  min-width: 300px;
  margin-bottom: 10px;
  margin-top: 100px;
  margin-left: 10%;
  position: relative;
}
.seatSelectedBox {
  width: 25%;
  height: 250px;
  min-width: 300px;
  margin-bottom: 120px;
  margin-top: 100px;
  margin-left: 1%;
  position: relative;
}
.bookedSeatBox {
  width: 76%;
  height: 250px;
  min-width: 300px;
  margin-bottom: 120px;
  margin-top: 10px;
  margin-left: 10%;
  position: relative;
}
.loanHalfBox-pending {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
}
.detailsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.headingBox {
  width: 50%;
}
